
.icon-ok-circled2:before { content: '\e800'; } /* '' */
.icon-yen:before { content: '\e801'; } /* '' */
.icon-help-circled:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-clock:before { content: '\e804'; } /* '' */
.icon-exchange:before { content: '\e805'; } /* '' */
.icon-arrows-ccw:before { content: '\e806'; } /* '' */
.icon-bitcoin:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-mail-alt:before { content: '\e809'; } /* '' */
.icon-dollar:before { content: '\e80a'; } /* '' */