@()(implicit session: Session)
<!doctype html>
<html>
<head>
    @_headResource("- 接入指南")
</head>

<body>
@_navbar()(session)
<div class="fixes-top bg">
  <div class="blk20"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="panel article">
          <header class="panel-heading">
            <h3><strong>币丰支付接入指南</strong></h3>
            <em>（版本1.0，修订于2014年9月19日）</em> </header>
          <div class="panel-body">
            <div class="blk10"></div>
            <div class="blk20"></div>
            <h5>本文件描述币丰支付的商户接入流程，是一个说明性文件，不具有任何法律效应。</h5>
            <div class="blk20"></div>
            <h4>1.注册币丰支付账号</h4>
            <p>您需要在币丰支付网站（https://pay.coinport.com）上注册一个账号，并验证你的email地址。在您注册的同时，请您详细阅读我们的<a href="/termsOfUse">《使用条款》</a>，<a href="/privatePolicy">《隐私政策》</a>，和<a href="/amlPolicy">《反洗钱政策》</a>。您必须同意所有相关条款才能注册账号。如果这些条款有变更，我们会通过您注册的电子邮件通知您。</p>
            <div class="blk20"></div>
            <h4>2.生成应用程序接口（API）令牌</h4>
            <p>您注册后，需先生成至少一个API令牌，用该令牌才能够使用我们提供的API。我们的API能够帮助您从用户手中收取比特币并转换成您制定的法定货币，也可以帮助您给用户退款比特币。</p>
            <p>生成API令牌后，您的网站就可以使用币丰支付的收款服务。</p>
            <div class="blk20"></div>
            <h4>3.认证您的账户</h4>
            <p>为了能够提取结算货币，您必须实名验证您的账号。我们不会为未经验证的账户提供提现服务。您验证账户提供的信息一旦提交将不得更改。为了通过验证，您必须提供给我们相关的法律文件的复印件。您将为所有信息的真实性负责。</p>
            <div class="blk20"></div>
            <h4>4.披露您的《退款政策》</h4>
            <p>如果您的网站或应用支持退款，您有义务披露您的《退款政策》。特别地，您需要让用户完全了解退款时候使用哪种货币进行价值衡量，即退款的比特币数量是动态计算的，还是与收款用比特币相同。举个例子：如果您卖出的商品是450美金，我们收取用户1个比特币。退款的时候，如果您选择依然用美金来做价值衡量，当比特币价格变为400美金的时候，我们会代您向用户支付1.125个比特币；如果您用比特币退款，我们将支付1个比特币给用户，无论比特币价格怎样变化。退款时候的比特币是从您的沉淀资金中支出，如果您的沉淀资金不足，退款会失败。</p>
            <p>您的《退款政策》是您与您用户之间的协议，币丰支付不承担任何连带责任。币丰支付提供退款技术服务，不参与退款过程中双方的协商与纠纷。</p>
            <div class="blk20"></div>
            <h4>5.协议签署</h4>
            <p>如果您是中国大陆境内的公司并且选择在境内用人民币结算，我们或我们的代理公司（上海析木网络有限公司）需要与您签署《币丰支付代收代付服务合同》（《合同》），并附带当时的《使用条款》，《隐私政策》，和《反洗钱政策》供您参考（后续这些条款的更改会通过您注册的电子邮件地址通知您）。您需要在《合同》上签字并盖章，之后邮寄给我们。我们的邮寄地址可以向 <a href="mailto:pay-support@@coinport.com">pay-support@@coinport.com</a> 索取。</p>
            <p>如果您是境外的实体，没有必要和我们签订《合同》。您可以随时停止使用币丰支付的服务。</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
@_footer()

<!--end-main-container-->
@_tailResource()
@_ga()
</body>
</html>
