@()(implicit session: Session)
<!doctype html>
<html>
<head>
    @_headResource("- 反洗钱政策")
</head>

<body>
@_navbar()(session)

<div class="fixes-top bg">
  <div class="blk20"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="panel article">
          <header class="panel-heading">
            <h3><strong>反洗钱政策</strong></h3>
            <em>（版本1.3.1，修订于2014年9月3日）</em> </header>
          <div class="panel-body">
            <div class="blk10"></div>
            <div class="blk20"></div>
            <p><strong>币丰支付</strong>是 <em>币丰港（香港）网络科技有限公司</em> 全资拥有并运营的全球化的商户支付服务平台。我们承诺对客户进行尽职调查，并确保我们的客户遵守所有适用的法律和法规，以预防和防止洗钱。这些措施包括通过以下方式证实我们客户的身份：</p>
            <div class="blk10"></div>
            <ul>
              <li>政府签发的带照片的身份证件</li>
              <li>住宅或办公地址证明</li>
              <li>企业文件</li>
              <li>工商注册信息</li>
              <li>税务身份证明文件</li>
              <li>雇主识别号码</li>
              <li>任何其他适用文件</li>
            </ul>
            <div class="blk10"></div>
            <p>此外，在全球认可的风险政策下，我们保留对所有客户加强尽职调查的权力。请注意，在任何时候当我们怀疑用户、交易或账户操作可能涉及到洗钱，犯罪活动或任何其他犯罪活动的前兆，币丰支付有权拒绝这些交易和操作。 如果我们怀疑个人和团体可能参与或是认定已经参与洗钱，或其资金与非法活动的资金来源相关，币丰支付将不会与其进行任何商业活动。</p>
            <p>在文件审核过程中，如果币丰支付接收到欺骗性文档、欺骗性联系方式、欺骗性业务描述或其他虚假信息，币丰支付将终止有问题的帐户。币丰支付在法律上有义务向有关部门报告这些行为，这些行为的主体、企业及其业主可能已受到刑事调查。</p>
            <p>提供虚假的、篡改过的或欺骗性的文件将被认定为欺诈行为，将按照欺诈行为进行处理。偷税漏税和欺诈行为是犯罪洗钱的前兆，因此，从欺诈交易或可疑活动所得的全部资产可能会被没收或充公。</p>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="divider"></div>
</div>
@_footer()

<!--end-main-container--> 
@_tailResource()
@_ga()
</body>
</html>
