@()(implicit session: Session)

<!doctype html>
<html ng-app="ledger">
<head>
    @_headResource("- 修改密码")
</head>
<body>
@_navbar()(session)
<div class="fixes-top bg" ng-controller="ResetPwdCtrl">
    <div class="blk20"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                @_account_navbar(6)(session)
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <section class="panel">
                    <header class="panel-heading">
                        <h4><strong>修改密码</strong></h4>
                    </header>
                    <div class="panel-body">
                        <form class="form-horizontal" name="PasswordForm" role="form">
                            <p class="success" style="color: red" ng-show="errorMsg != ''">{{errorMsg}}</p>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">旧密码：</label>
                                <div class="col-sm-4 col-xs-12">
                                    <input type="text" class="form-control" ng-bind="oldPassword" required=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">新密码：</label>
                                <div class="col-sm-4 col-xs-12">
                                    <input type="text" class="form-control" ng-bind="newPassword" required=""/>
                                </div>
                            </div>
                            <div class="error" name="pwdErrorMsg" ng-show="PasswordForm.password.$dirty && PasswordForm.password.$invalid && !PasswordForm.password.$focused">
                                <small class="text-danger text-center" ng-show="PasswordForm.password.$error.minlength">密码长度应大于8位</small>
                                <small class="text-danger text-center" ng-show="PasswordForm.password.$error.maxlength">密码长度需小于32位</small>
                            </div>
                            <div class="error" name="confirmpwdErrorMsg" ng-show="PasswordForm.confirmPassword.$dirty && PasswordForm.confirmPassword.$invalid && !PasswordForm.confirmPassword.$focused">
                                <small class="text-danger text-center" ng-show="PasswordForm.confirmPassword.$error.repeat">密码不一致</small>
                            </div>
                        </form>
                        <div class="blk20"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
@_footer(false)

<!--end-main-container-->
<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script src="/javascripts/coinport/resetPwd.js"></script>
<script src="/javascripts/coinport/repeatInput.js"></script>
@_tailResource()
@_ga()
</body>
</html>
