@(token: String)(implicit session: Session, lang: Lang)
<!doctype html>
<html ng-app="resetPwd">
<head>
    @_headResource("- 重置密码")
</head>
<span ng-init="token='@token'" ng-show="false"></span>
<body>
@_navbar()(session)
<div class="fixes-top bg">
    <div class="blk20"></div>
    <div class="container" >
        <div class="box-sm">
                <div class="list-group list-group-lg"  ng-controller="ResetPwdCtrl">
                    <form name="resetForm">
                    <div class="list-group-item text-center">
                        <h4><em class="icon box bg-popurle"><i class="icon-key"></i></em>重置密码</h4>
                        <p class="success" style="color: red" ng-show="errorMsg != ''">{{errorMsg}}</p>
                    </div>
                    <div class="list-group-item">
                        <input name="password" type="password" class="form-control" placeholder="密码" ng-model="password" ng-minlength="8" ng-maxlength="30" required="">
                        <br>
                        <input name="confirmPassword" type="password" class="form-control" placeholder='重复密码' ng-model="confirmPassword" repeat-input="password" required="">

                        <div class="error" name="pwdErrorMsg" ng-show="resetForm.password.$dirty && resetForm.password.$invalid && !resetForm.password.$focused">
                            <small class="text-danger text-center" ng-show="resetForm.password.$error.minlength">密码长度应大于8位</small>
                            <small class="text-danger text-center" ng-show="resetForm.password.$error.maxlength">密码长度需小于32位</small>
                        </div>
                        <div class="error" name="confirmpwdErrorMsg" ng-show="resetForm.confirmPassword.$dirty && resetForm.confirmPassword.$invalid && !resetForm.confirmPassword.$focused">
                            <small class="text-danger text-center" ng-show="resetForm.confirmPassword.$error.repeat">密码不一致</small>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="changePwd()">重置密碼</button>
                    </div>
                    </form>
                </div>
        </div>
    </div>
</div>
@_footer(false)

<!--end-main-container-->
<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/coinport/resetPwd.js"></script>
<script src="/javascripts/coinport/repeatInput.js"></script>
@_tailResource()
@_ga()
</body>
</html>