@()(implicit session: Session)

<!doctype html>
<html>
<head>
    @_headResource("- 常见问题")
</head>

<body>
@_navbar(3)(session)

<div class="fixes-top bg">
    <div class="blk20"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="panel article">
                    <header class="panel-heading">
                        <h3><strong>常见问题</strong></h3>
                    </header>
                    <div class="panel-body">
                        <div class="blk10"></div>
                        <h4 class="bold">哪些公司已经开始支持比特币付款？</h4>
                        <p>2014年6月16日Coindesk统计，全世界超过63000家实体店和网站接收比特币付款。其中的知名企业包括：</p>
                        <ul>
                            <li>Overstock， 美国最大的在线零售商店之一</li>
                            <li>新蛋，美国年销售28亿美金的计算机软硬件电商网站</li>
                            <li>CeX，英国的交易所和零售商</li>
                            <li>TigerDirect，在线计算机硬件电商网站</li>
                            <li>1-800-Flowers.com，纽约州鲜花礼品电商网站</li>
                            <li>Monoprix，法国零售连锁电商</li>
                            <li>Gyft，美国在线礼品卡服务商</li>
                            <li>REEDS珠宝，美国最大的珠宝连锁店之一</li>
                            <li>Expedia，美国在线机票和酒店服务商</li>
                            <li>Holiday Inn，假日酒店</li>
                            <li>Dell，戴尔公司，全球最大的PC制造商之一</li>
                        </ul>
                        <p>越来越多的公司开始考虑接收虚拟货币付款，包括PayPal和Amazon。</p>
                        <div class="blk20"></div>
                        <h4 class="bold">比特币付款有什么优势？</h4>
                        <p>接收比特币付款有以下优势：</p>
                        <ul>
                            <li>您的服务在支付方面一下就扩展到全球。比特币是无国界的支付网络，一旦支持比特币付款，您的网站就可以在全球任何一个国家提供服务。比特币用户的开户就如同下载一个软件一样简单，无需任何的身份信息；用户的门坎很低。</li>
                            <li>更低的支付费用。相对于Visa，Master而言，比特币网络的支付费用更低。我们最多只收取您总收款额千分之五的手续费，而且对初期用户提供限期全免手续费的优惠。</li>
                            <li>本地货币结算。您可以在某个国家提供服务，在中国大陆用人民币结算，或在香港用美元结算。您的平台不必承担任何汇率波动的风险。我们保障为您从用户接受1元付款就会结算1元给您。</li>
                            <li>您不必再担心用户欺诈，因此不会在提供服务或者邮寄商品后，发现之前的收款被作废。比特币所有的转账都是有效且不可逆转的。</li>
                            <li>如果您相信比特币有进一步升值的空间，您还可以选着保留部份或全部比特币，对冲法币的通货膨胀。</li>
                        </ul>
                        <div class="blk20"></div>
                        <h4 class="bold">我为什么要选择币丰支付作为比特币支付平台呢？</h4>
                        <p>我们的三位创始人分别来自谷歌美国，谷歌上海，和京东商城；投资方是IDG资本。币丰支付的主体是注册在香港的&ldquo;币丰港（香港）网络有限公司 （Coinport  Technology Limited)&rdquo;，母公司是注册在开曼群岛的&ldquo;Coinport Inc&rdquo;。</p>
                        <p>我们本着客户为先的原则，竭力为大中华区的企业提供优质全方位的服务，是值得您信任的合作伙伴。</p>
                        <div class="blk20"></div>
                        <h4 class="bold">您们的账期有多长？</h4>
                        <p>我们是T+2（个工作日）结算。我们的账期主要受到与我们合作的世界范围内各比特币交易所账期的影响，不过币丰支付会尽力保障您的资金在最短时间内回笼，加速您公司的发展。</p>
                        <p>如果您的日交易量较大，我们可以考虑适当缩短账期。</p>
                        <div class="blk20"></div>
                        <h4 class="bold">商家是否可以选择保留比特币？</h4>
                        <p>可以。对于每一次用户支付，商家都可以设定不同的结算方案。我们支持比特币，人民币，和美元结算。</p>
                        <p>币丰港支付的接口支持您网站上&ldquo;展示币种&rdquo;，&ldquo;支付币种&rdquo;，&ldquo;结算币种&rdquo;3个币种的独立设定。您可以指定商品用美金标价，接收客户比特币付款，币丰支付为您结算成您指定数额的美元或人民币。</p>
                        <div class="blk20"></div>
                        <h4 class="bold">币丰支付的API是否支持移动WAP站点和APP？</h4>
                        <p>可以。我们的API基于HTTPS和WSS，可以方便地集成到Web，Wap，和移动APP中。我们同时提供集成时所需的技术支持，保障商家的接入过程顺畅稳定。我们提供给商家的所有代码库都将完全开源，确保商家数据不受到任何侵犯。</p>
                        <div class="blk20"></div>
                        <h4 class="bold">选择币丰支付我们商家要承担什么风险？</h4>
                        <p>币丰支付为商家承担汇率兑换的所有风险，商家只需要选择相信账期内的应收款在币丰支付平台是安全的。比特币支付是个新兴的支付方式，因此您的网站不会迅速接收特别多得比特币，结算金额也将有个从小到大的递增过程。 当您的金额足够大后，我们会进一步和您协商缩短账期，确保您的资金快速流动。</p>
                        <div class="blk20"></div>
                        <h4 class="bold">我们很有兴趣支持比特币支付，币丰支付是否提供技术支持？</h4>
                        <p>我们对初期的用户提供完全免费的技术支持，对后期用户将收取一定的服务费用。币丰支付接口非常简单，如果商家有自己的工程团队，完全可以在几天之内完成比特币支付的集成，测试，和上线工作。</p>
                        <div class="blk20"></div>
                        <h4 class="bold">在中国大陆，比特币不是非法的吗？</h4>
                        <p>在中国大陆，比特币已经被官方定义为合法的虚拟资产。不过现在大陆缺少监管条例，因此相关部门对虚拟商品的个人投资行为持谨慎态度。比特币在很多国家是合法的，包括美国，香港，澳大利亚，加拿大，德国，瑞士等。</p>
                        <p>我们服务的客户多面向海湾市场。因此比特币的收款对象是海外用户群体。</p>
                        <div class="blk20"></div>
                        <h4 class="bold">现在全球比特币用户数量有多少？</h4>
                        <p>由于比特币是匿名的加密货币，因此用户数量无从统计。不过比特币的钱包地址数量一直持续有力增长，这表明全球用户对比特币的接受成都越来越大。这也是诸如Dell这样跨国公司选择支持比特币付款的原因之一。</p>
                        <div class="blk20"></div>
                        <h4 class="bold">比特币共有多少，与人民币美元的兑换价格是谁决定的？</h4>
                        <p>比特币的发行量上限是2100万个，每个比特币又可以进一步切分成一亿份。比特币现在已经发行超过一半，到2140年全部发行完毕。因此比特币不像法币那样，可被政府任意发行，是属于不会出现通货膨胀的通缩货币。许多人相信比特币具有同黄金一样的保值功能。</p>
                        <p>比特币与任何法币的兑换率都是由市场决定的，如同股票的价格一样。由于比特币的无国界，去中心化属性，比特币在世界各国各个交易所的兑换价格相对一致，且不受任何国家政府控制。</p>
                        <div class="blk20"></div>
                        <h4 class="bold">我想接收比特币付款，怎样开始呢？</h4>
                        <p>您可以先参考<a href="/accessFlow">《币丰支付接入指南》</a>，了解一下支持比特币支付需要做哪些准备工作。</p>
                        <p>之后如果您有任何疑问，请联系我们，我们愿意与您沟通进而了解您业务特点和需求，之后同您的工程团队一起，在最短时间内让您的网站支持比特币付款，扩大您业务的受众群体，降低支付环节的费用。</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="divider"></div>
</div>

@_footer()

<!--end-main-container-->
@_tailResource()
@_ga()
</body>
</html>