@()(implicit session: Session)

<!doctype html>
<html>
<head>
    @_headResource()
    <meta property="qc:admins" content="01332467776371607246375" />
</head>

<body>
@_navbar(1)(session)

<div class="fixes-top">
  <div class="coinport-intro-box">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 coinport-intro">
          <div class="coinport-intro-content">
            <h2>跨境比特币支付平台</h2>
            <div class="blk10"></div>
            <p>币丰支付​​™ 致力于为大中华区企业提供基于比特币的低成本跨境支付解决方案。我们帮助您接收全球用户的比特币付款，并用美金和人民币结算。币丰支付​​让您的国际贸易如同国内贸易一样简单。</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 bit-network"><img src="images/v2/bit-network.png" /></div>
      </div>
    </div>
  </div>
  <div class="bg-white">
        <div class="container">
          <div class="row">
            <div class="feature clearfix">
              <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="text-center">
                  <div class="icon-box"> <em><i class="icon-global-pay-bit"></i></em>
                    <div class="blk20"></div>
                    <h3>全球覆盖</h3>
                    <div class="blk20"></div>
                    <p>1种方案，2个API接口</p>
                    <p>即可让您接收</p>
                    <p>全球用户比特币付款</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="text-center">
                  <div class="icon-box"> <em><i class="icon-pay-cny-dollar"></i></em>
                    <div class="blk20"></div>
                    <h3>本地货币结算</h3>
                    <div class="blk20"></div>
                    <p>您可选择在大陆用</p>
                    <p>人民币，境外用美元结算</p>
                    <p>对比特币价格波动免疫</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="text-center">
                  <div class="icon-box"> <em><i class="icon-bit-shield"></i></em>
                    <div class="blk20"></div>
                    <h3>没有坏账</h3>
                    <div class="blk20"></div>
                    <p>每笔比特币支付都无法取消</p>
                    <p>避免信用卡的欺诈和坏账</p>
                    <p>我们让您远离风险</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="text-center">
                  <div class="icon-box"> <em><i class="icon-wallet"></i></em>
                    <div class="blk20"></div>
                    <h3>费用更低</h3>
                    <div class="blk20"></div>
                    <p>跨境支付环节总费率</p>
                    <p>降至 0.5%</p>
                    <p>且没有任何隐藏的费用</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="bg-white">
        <div class="container">
          <div class="row">
            <div class="themed-invoice clearfix">
              <div class="col-xs-12">
              <img src="/images/themed-invoice.jpg"></div>
              <div class="bold">超过20种色彩可选</div>
              <div class="bold-sub">灵活匹配您的网站和应用，更可定制。</div>
              </div>
            </div>
          </div>
        </div>
    <div class="bg-coinport">
        <div class="container">
            <div class="start-coinport">
                <div class="start-content">
                    <h3 class="text-center">还等什么？甩开竞争对手，今天就开始接收全球用户的比特币付款！</h3>
                    <div class="blk50"></div>
                    <div class="text-center">
                        <a href="/signup" class="xlarge btn-primary btn-contact  btn right-angle">注 册</a>
                    </div>
                    <div class="blk60"></div>
                    <div class="pay-demo">
                        <a target="_blank" href="/store/pay">
                        <div class="demo-content-box">
                            <div class="name">演示</div>
                            <div class="demo-content">我们制作了一个简单的演示，让您了解您的客户是如何通过比特币付款的。<br />
                                注：1）您的电脑或者手机上必须安装至少一个比特币钱包才能进行支付；2）演示中支付是真正的比特币，因金额很小，我们不会返还您的付款。</div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--div class="bg-white">
        <div class="blk20"></div>
        <div class="container media-thumb-group">
            <div class="row">
                <div class="col-sm-2 col-xs-6"> <a href="#" class="thumbnail"> <img src="images/v2/media-logo.png" /> </a> </div>
                <div class="col-sm-2 col-xs-6"> <a href="#" class="thumbnail"> <img src="images/v2/media-logo.png" /> </a> </div>
                <div class="col-sm-2 col-xs-6"> <a href="#" class="thumbnail"> <img src="images/v2/media-logo.png" /> </a> </div>
                <div class="col-sm-2 col-xs-6"> <a href="#" class="thumbnail"> <img src="images/v2/media-logo.png" /> </a> </div>
                <div class="col-sm-2 col-xs-6"> <a href="#" class="thumbnail"> <img src="images/v2/media-logo.png" /> </a> </div>
                <div class="col-sm-2 col-xs-6"> <a href="#" class="thumbnail"> <img src="images/v2/media-logo.png" /> </a> </div>
            </div>
        </div>
    </div-->
    <div class="divider"></div>
</div>

@_footer()

<!--end-main-container-->
@_tailResource()
@_ga()
</body>
</html>

