@()(implicit session: Session)
<!doctype html>
<html>
<head>
    @_headResource("- 招贤纳士")
</head>

<body>
@_navbar(1)(session)

<div class="fixes-top bg">
<div class="blk10"></div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <section class="panel article">
        <header class="panel-heading">
          <h3><strong>招贤纳士</strong></h3>
        </header>
        <div class="panel-body bg-hilight">
          <h1>超级福利：多14天假期</h1>
          <h2>法定节假前后各多放一天假。只等你来。</h2>
        </div>
        <div class="panel-body bg-white">
          <h4 class="bold">CEO助理</h4>
          <div class="blk10"></div>
          <h5>工作地点</h5>
          <ul>
            <li>上海市闵行区紫竹科学园区</li>
          </ul>
          <h5>汇报对象</h5>
          <ul>
            <li>CEO</li>
          </ul>
          <h5>职责</h5>
          <ul>
            <li>利用各种招聘渠道发布招聘广告，寻求招聘机构；</li>
            <li>执行招聘、甄选前期工作；</li>
            <li>接听电话、记录留言、转接电话及电话总机的管理工作；</li>
            <li>编制考勤报表、月底对考勤并进行汇总；</li>
            <li>负责公司文件、通知、通告等资料的发放和传送；</li>
            <li>负责公司会议室布置和有关会议的准备工作；</li>
            <li>负责部门有关文件的打印、复印、传真收发、邮箱管理等行政工作；</li>
            <li>负责复印机、打印机、传真机等办公设备的维护、管理工作；</li>
            <li>负责办公用品发放与登记、统计；</li>
            <li>负责公司票务事宜，完成领导交办的其他工作。</li>
          </ul>
          <h5>要求</h5>
          <ul>
            <li>本科学历，形象气质良好，行政工作经验至少1年；</li>
            <li>有责任心、执行力强，沟通能力和表达能力较好。</li>
            <li>拥有英语四级证书；</li>
          </ul>
          </div>

          <div class="panel-body bg-lightgrey">
                    <div class="blk20"></div>
          <h4 class="bold">财务主管</h4>
          <div class="blk10"></div>
          <h5>工作地点</h5>
          <ul>
            <li>上海市闵行区紫竹科学园区</li>
          </ul>
          <h5>汇报对象</h5>
          <ul>
            <li>CEO</li>
          </ul>
          <h5>职责</h5>
          <ul>
            <li>岗位总体目标：财务审核、财务核算、税务申报、会计监督，预算项目控制，税务、工商等公共关系的维护。</li>
          </ul>
          <h5>要求</h5>
          <ul>
            <li>财税专业、专科以上学历，3年以上总账工作经验</li>
            <li>具有往来账款的管理经验，能做好应收应付款项的核对</li>
            <li>能够独立进行会计核算、报表编报、税务处理及其他相关日常财务工作</li>
            <li>能够编制和审核相关业务的财务凭证，具有会计从业资格证及其他相关证书</li>
            <li>能够熟练使用财务软件，EXCEL水平良好</li>
            <li>具有良好的沟通能力，熟悉新会计准则及高新技术企业相关税收政策</li>
            <li>能够遵守公司的所有规章制度，遵守法律与道德的行为准则。有工作的责任心和积极主动性，具有较强的创新意识</li>
            <li>有良好的职业道德，工作认真细致，性格随和，容易沟通，能及时、有质量的完成领导安排的其他财税工作。</li>
          </ul>
          </div>
          <div class="panel-body bg-white">

                    <div class="blk20"></div>
          <h4 class="bold">iOS开发工程师</h4>
          <div class="blk10"></div>
          <h5>工作地点</h5>
          <ul>
            <li>上海市闵行区紫竹科学园区</li>
          </ul>
          <h5>汇报对象</h5>
          <ul>
            <li>CTO</li>
          </ul>
          <h5>职责</h5>
          <ul>
            <li>负责iOS客户端(iPhone/iPad)应用程序开发；</li>
            <li>正确理解需求，根据需求开发相应的应用程序；</li>
            <li>负责产品定制应用的开发和维护、与系统平台集成联调等；</li>
            <li>完成相应技术文档的编写。</li>
          </ul>
          <h5>要求</h5>
          <ul>
            <li>计算机软件相关专业本科及以上学历 ；</li>
            <li>三年以上工作经验，2年以上iOS开发经验；</li>
            <li>具有扎实的Objective-C/C/C++语言基础，熟悉iPhone动画机制，有良好的编程规范，对各种接口有丰富的调试经验；</li>
            <li>精通iOS SDK、熟练掌握iOS界面处理、数据存储、数据解析（XML/JSON），网络通信机制等，并对Socket和HTTP访问有实际开发经验；</li>
            <li>熟悉常用的数据结构，了解iOS内存管理机制；</li>
            <li>对工作充满激情，学习能力强，有强烈的责任感与进取心；具备团队合作精神，沟通能力和自学能力强，能承受较大的工作压力。</li>
          </ul>
          </div>

          <div class="panel-body bg-lightgrey">
                    <div class="blk20"></div>
          <h4 class="bold">Web前端开发工程师</h4>
          <div class="blk10"></div>
          <h5>工作地点</h5>
          <ul>
            <li>上海市闵行区紫竹科学园区</li>
          </ul>
          <h5>汇报对象</h5>
          <ul>
            <li>CTO</li>
          </ul>
          <h5>职责</h5>
          <ul>
            <li>设计，实现币丰港的网页端和移动端产品，比如币丰港交易所；</li>
            <li>优化应用的速度，保证应用在各种终端的正确展现；保证App在不同设备间的兼容性；</li>
            <li>迅速开发迭代原型产品，并最终产品化；</li>
            <li>打包，部署代码到云端服务器；</li>
          </ul>
          <h5>要求</h5>
          <ul>
            <li>拥有4年制本科，计算机相关专业学位；拥有英语四级证书；能够顺利理解英文开发文档；</li>
            <li>对UI设计和实现感兴趣，并在乎细节，乐于追求完美；</li>
            <li>精通Div+css页面布局，能够制作各种页面交互效果；</li>
            <li>熟悉javascript的特性、运行机制；</li>
            <li>熟悉html5/css3的新特性、有实际应用；</li>
            <li>熟悉jQuery、Bootstrap等类库；</li>
            <li>对前端效率优化、解决多浏览器兼容性问题有一定的经验。</li>
          </ul>
          </div>
          <div class="panel-body bg-white">
                    <div class="blk20"></div>
          <h4 class="bold">Java后台研发工程师</h4>
          <div class="blk10"></div>
          <h5>工作地点</h5>
          <ul>
            <li>北京市海淀区西二旗辉煌国际6号楼426室</li>
          </ul>
          <h5>汇报对象</h5>
          <ul>
            <li>COO</li>
          </ul>
          <h5>职责</h5>
          <ul>
            <li>设计，开发，和测试Linux环境下高性能，大并发后台服务。</li>
            <li>维护服务器24x7稳定运行；</li>
            <li>分析数据，为运营团队提供参考指标；</li>
            <li>维护数据和用户隐私的安全；</li>
          </ul>
          <h5>要求</h5>
          <ul>
            <li>拥有计算机相关专业4年制本科学位，拥有硕士博士学位者优先；</li>
            <li>对数据结构，算法，软件设计有一定的理论基础；</li>
            <li>拥有英语四级证书；能够顺利理解英文开发文档；</li>
            <li>有丰富的Java或Scala开发经验，熟悉JVM的调试；</li>
            <li>有大中型软件设计经验者优先；</li>
            <li>有丰富的的Linux/Unix知识和经验；</li>
            <li>熟悉MySQL，MongoDB，HBase，或Redis。</li>
          </ul>
          </div>

          <div class="panel-body bg-lightgrey">
          <div class="blk20"></div>
          <h4 class="bold">客户经理</h4>
          <div class="blk10"></div>
          <h5>工作地点</h5>
          <ul>
            <li>北京市海淀区西二旗辉煌国际6号楼426室</li>
          </ul>
          <h5>汇报对象</h5>
          <ul>
            <li>COO</li>
          </ul>
          <h5>职责</h5>
          <ul>
            <li>负责币丰支付在北京地区的销售及渠道拓展；</li>
            <li>制订并销售差异化的币丰支付比特币支付服务解决方案</li>
            <li>细致分析潜在战略合作伙伴的业务发展方向及现状，结合公司优势制订针对性的战略合作计划，并完成推荐与签约</li>
            <li>积极整合自身资源和公司资源开发新用户；</li>
            <li>维护行业、大客户关系，制订稳定增长的销售计划。</li>
          </ul>
          <h5>要求</h5>
          <ul>
            <li>大专及以上学历, 市场营销相关专业；</li>
            <li>有快消行业、保险业、金融业、办公劳保、团购、大型企业直销经验者优先；有银行卡或其他服务卡销售经验者优先；具有会员推广从业经验优先。</li>
            <li>熟悉大客户销售运作流程，具备丰富的谈判技巧及客户公关能力；</li>
            <li>思路活跃、清晰、有一定高度；行事细致、严谨；责任心强，勤奋刻苦</li>
            <li>团队合作意识强，抗压能力好。</li>
          </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="divider"></div>
</div>
<div class="divider"></div>
</div>

@_footer()

<!--end-main-container-->
@_tailResource()
@_ga()
</body>
</html>