@(invoiceId: String, currency: String)(implicit session: Session)

<!doctype html>
<html ng-app="refund">
<head>
    @_headResource("- 退款")
</head>
<span ng-init="currency='@currency'"></span>
<body>
@_navbar()(session)
<div class="fixes-top bg" ng-controller="RefundCtrl">
    <span ng-init="refundData.invoiceId='@invoiceId'" ng-show="false"></span>
    <div class="blk20"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                @_account_navbar(5)(session)
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <section class="panel">
                    <header class="panel-heading">
                        <h4><strong>BTC 退款</strong></h4>
                    </header>
                    <div class="panel-body">
                        <form class="form-horizontal" name="refundForm" role="form">
                            <div class="form-group">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">可用金额：</label>
                                <div class="col-sm-4 col-xs-12">

                                    <lable class="form-control" ng-bind="balance" readonly="true"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">收据ID：</label>
                                <div class="col-sm-4 col-xs-12">

                                    <lable class="form-control" ng-bind="refundData.invoiceId" readonly="true"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">BTC退款地址：</label>
                                <div class="col-sm-4 col-xs-12">
                                    <input type="text" class="form-control" ng-model="refundData.address" required="">
                                    </input>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">退款金额(@currency)：</label>
                                <div class="col-sm-4 col-xs-12">
                                    <input type="text" class="form-control" ng-model="refundData.amount" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">邮件验证码：</label>
                                <div class="col-sm-4 col-xs-12">
                                    <input type="text" class="form-control" ng-model="refundData.emailcode" required="">
                                </div>
                                <div class="col-sm-4 col-xs-12">
                                    <button class="btn w-xs btn-default" ng-click="sendVerifyEmail()" ng-disabled="isTimingEmail" ng-bind="verifyButtonEmail">获取邮件验证码</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-4 col-xs-12">
                                    <button class="btn btn-lg  btn-primary btn-block" ng-click="refund()" ng-disabled="refundForm.$invalid">退款</button>
                                </div>
                            </div>
                        </form>
                            <div class="blk20"></div>
                            <div class="form-group">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="table-responsive">
                                        <table  class="table table-striped table-bordered responsive no-m" data-sortable>
                                            <thead>
                                            <tr>
                                                <!--<td align="center">ID</td>-->
                                                <td align="center">时间</td>
                                                <td align="right">退款金额</td>
                                                <td align="right">退款BTC</td>
                                                <td align="center">状态</td>
                                                <td align="center">BTC地址</td>
                                                <td align="center">操作</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr  ng-repeat="item in refunds | orderBy: ['-date', '-id']" class="">
                                                <!--<td ng-bind="item.id"></td>-->
                                                <td ng-bind="item.date | date:'yy-MM-dd HH:mm:ss'"> </td>
                                                <td align="right" ng-bind="item.refundAmount | cash:2"></td>
                                                <td align="right" ng-bind="item.amount"></td>
                                                <td align="center" ng-bind="item.status | transferStatusText"></span> </td>
                                                <td ng-bind="item.address"></td>
                                                <td>
                                                    <button class="btn btn-success btn-sm" ng-click="confirmRefund(item.id)" ng-show="item.status==0">确认</button>
                                                    <button class="btn btn-danger btn-sm" ng-click="cancelRefund(item.id)" ng-show="item.status==0">取消</button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <pagination boundary-links="true" max-size="5" items-per-page="limit" total-items="count" ng-model="page" class="pagination-sm" ng-change="loadrefunds()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
@_footer(false)
<!--end-main-container-->
@_tailResource()
<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script src="/javascripts/coinport/refund.js"></script>
<script src="/javascripts/coinport/filter.js"></script>
@_ga()
</body>
</html>
